.welcome-chapters__content
   picture.parallax__layer.sky
      source(media="(min-width: 1800px)" type="image/jpeg" srcset=require("images/welcome/1800min/Sky1.jpg"))
      source(media="(min-width: 1200px)" type="image/jpeg" srcset=require("images/welcome/1200min/Sky1.jpg"))
      source(media="(min-width: 769px) and ( max-width:1199)" type="image/jpeg" srcset=require("images/welcome/769min/Sky1.jpg"))
      source(media="(min-width: 400px) and ( max-width:768)" type="image/jpeg" srcset=require("images/welcome/768max/Mountain_Baloon_768.jpg"))
      source(media="(min-width: 320px)" type="image/jpeg" srcset=require("images/welcome/320min/Mountain_Baloon_320.jpg"))
      img(src="" alt="").brakepoint__image
